@font-face {
  font-family: 'Y_Spotlight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  padding: 20px;
  min-height: none;
  min-width: none;
  background: linear-gradient(145deg, #d8d4e6, #fffbff);
  box-shadow:  5px 5px 8px #d6d1e3,
                -5px -5px 8px #ffffff;
  border-radius: 20px;
}

body {
  background: #f1ebff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}
/* TabMenu Size CSS */
.menu {
  background-color: linear-gradient(145deg, #d8d4e6, #fffbff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.MenuIcon, .RegularIcon{
 color: #54004b; 
}
.menu button:hover {
  border-radius: 5px !important;
  background-color: #d0c5ff;
}

.menu button.active {
  color: #007bff;
}

.menu button:focus {
  outline: none;
}
/* TabMenu Line CSS */
.webcam{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.image{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.active{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
/* Main Header CSS */
.header {
  text-align: center;
  font-family: 'Y_Spotlight';
  color: #ff0000;
  margin: 15px 0 0 10px;
}

#text-drop {
  font-size: 50px;
  font-family: 'Y_Spotlight';
  font-weight: 900;
}

.h-0 {
  color: #FF3366;
}

.h-1 {
  color: #00A8B0;
}

.h-2 {
  color: #1A535C; 
}

.h-3 {
  color: #FFC835;
}

.h-4 {
  color: #3A8AE5; 
}

#ES {
  font-size: 30px;
}

.smile {
  color: #9b5de5;
  margin-left: 15px;
}
/* help Header CSS */
.help-tip{
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #b882f6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before{
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ 
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}